:root {
  --border-color: black;
  --border-width: 5px;
  --border-style: solid;

  --fs-family: sans-serif;

  --fs-h1: 2.2rem;
  --fs-h2: 1.6rem;

  --fs-1: 1.2rem;
  --fs-2: 1.6rem;
  --fs-3: 2rem;
  --fs-4: 2.4rem;

  --lh: 1.4;
}

.card-container {
  font-family: var(--fs-family);
  line-height: var(--lh);
  border: var(--border-width) var(--border-style) var(--border-color);
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "card-header card-header card-header"
    "product-image basic-info details"
    "cart-button cart-button cart-button";
  align-items: start;
  box-sizing: border-box;
  column-gap: 40px;
}

.card-header {
  font-size: var(--fs-h1);
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  background-color: rgb(237, 235, 235);
  padding: 20px;
  margin: 0;
  grid-area: card-header;
}

.card-container::before {
  content: "SALE";
  background-color: red;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: -20px;
  left: -25px;
  width: fit-content;
  font-size: var(--fs-1);
  padding: 5px;
}

.price {
  font-size: var(--fs-4);
}

.shipping {
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--fs-1);
  color: grey;
}

.purchase-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.colors {
  display: flex;
  gap: 10px;
}

.box {
  width: 20px;
  height: 20px;
}

.cart-button {
  color: white;
  background-color: black;
  border-top: var(--border-width) var(--border-style) var(--border-color);
  cursor: pointer;
  align-self: center;
  text-transform: uppercase;
  grid-area: cart-button;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--fs-3);
}

.cart-button:hover {
  color: black;
  background-color: white;
}

.product-image {
  grid-area: product-image;
  width: 250px;
  height: 250px;
}

.basic-info {
  grid-area: basic-info;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.details {
  grid-area: details;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.details-header {
  font-size: var(--fs-h2);
  text-align: left;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.details-list {
  padding: 0;
  margin: 0;
}

.details-list-item {
  margin: 0;
  text-align: left;
  padding-bottom: 10px;
  list-style-type: square;
}

.intro {
  text-align: left;
}

.more-info {
  text-align: left;
  color: black;
}
